<div  id="admin" >
    <div style="font-family: Arial">
        <h1>דף מנהל</h1>

        <h3>כל השירים הקיימים כרגע בדאתאבייס</h3>

    </div>
    </br>
    </br>


    <div ng-controller="adminController" class="container-fluid text-right">
        <table >
            <tr>
                <th>שם שיר</th>
                <th>שם אומן</th>
                <th>סוג/ז'אנר</th>
                <th>קישור יוטיוב</th>
                <th>אקורדים</th>
                <th> מחיקה</th>
                <th>עדכון</th>
            </tr>
            <tr ng-repeat="song in allSongs | orderBy : 'name'">
                <td style="width: 15%">{{song.name}}</td>
                <td style="width: 7%">{{song.artistsName}}</td>
                <td style="width: 7%">{{song.type}}</td>
                <td style="width: 30%">{{song.link}}</td>
                <td ><div ng-repeat="line in song.lines">{{line.chords}}</br>{{line.words}}</div></td>
                <td><input type="submit" value="מחק שיר מהמאגר" ng-click="deleteSong(song.name,song.artistsName)"></td>
                <td><a ng-href="#/admin/updateSong/{{song.artistsName}}/{{song.name}}">עדכן שיר</a></td>
            </tr>
        </table>
</br>
</br>
</br>
</br>
        <h3>כל האמנים הקיימים כרגע בדאתאבייס:</h3>
        <table id="artistsTable">
            <tr>
                <th>מזהה:</th>
                <th>שם:</th>
                <th>מונה השירים:</th>
            </tr>
            <tr ng-repeat="artist in allArtists | orderBy : 'id'">
                <td style="width: 8%">{{artist.id}}</td>
                <td style="width: 10%">{{artist.name}}</td>
                <td style="width: 8%">{{artist.songs}}</td>
            </tr>
        </table>
</br>
</br>
</br>
        <h3>הוספת אומן למאגר:</h3>

        <form class="col-md-3 col-md-offset-9" id="addArtistForm">

            <div class="form-group">
                <label for="artistId">מזהה אומן:</label>
                <input class="form-control" type="text" id="artistId" ng-model="addArtist.id" name="id" required>
            </div>
            <div class="form-group">
                <label for="artistName">שם האמן:</label>
                <input class="form-control" type="text" id="artistName" ng-model="addArtist.artistName" name="name" required>
            </div>
            <div class="form-group">
                <label for="artistImg">שם התמונה:</label>
                <input class="form-control" type="text" id="artistImg" ng-model="addArtist.img" name="img" required>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <button type="submit" class="btn btn-danger form-control" ng-click="addArtist(addArtist)">הוסף אומן למאגר</button>
            </div>
        </form>


    </div>









</div>
