<div class="col-sm-12 col-xs-12">
    <div ng-controller="artistsController" class="container-fluid text-center">
        <div class="col-sm-10 col-xs-10 text-center">
            <div class="row" >
                <div  ng-repeat="artist in artists track by $index" class="col-xs-3 col-md-3">
                    <a ng-href="#/artists/{{artist.name}}"> <div class="thumbnail" >
                            <div class="caption">
                                <h5 class="artistName" style="color: red">{{artist.name}}</h5>
                                <div class="img-ph">
                                    <img ng-src="../img/{{artist.img}}" alt="Image" height="150">
                                </div>
                            </div>
                        </div></a>
                </div>
            </div>
        </div>
    </div>
</div>