<div class="container" id="title" >
    <div style="font-family: Calibri" class="pull-right">
        <h1>אקורדים לשירים</h1>
    </div>
</div>

<div class="col-sm-12 col-xs-12 pull-left" id="artists" >
    <div ng-controller="artistsController" class="container-fluid text-center">
        <div class="col-sm-10 col-xs-10 text-center">
            <div class="row" >
                <div  ng-repeat="artist in artists track by $index" class="col-xs-3 col-md-3" >
                    <a ng-href="#/artists/{{artist.name}}">
                        <div class="img-ph">
                            <img ng-src="../img/{{artist.img}}" alt="Image" height="350px" width="250px">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
