
<div class="container" id="contact">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <h1>צור קשר</h1>
            <h1>נא מלא את הפרטים הבאים</h1>
        </div>
    </div>

<div class="row">
    <div class="col-md-8 col-sm-offset-3">
        <div class="well well-sm">
            <form>
                <div class="row">
                    <div class="col-md-6 col-sm-offset-6">
                        <div class="form-group">
                            <label for="name">שם מלא</label>
                            <input type="text" class="form-control" id="name" placeholder="שם מלא" required="required" />
                        </div>
                        </br>
                        <div class="form-group">
                            <label for="email">כתובת דוא"ל </label>
                            <input type="email" class="form-control" id="email" placeholder="דואר אלקטרוני" required="required" />
                        </div>
                    </div>
                </div>
                </br>
            </form>
                <div class="form-group">
                    <label for="name">תוכן ההודעה </label>
                    </br>
                    <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="תוכן ההודעה"></textarea>
                </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">שליחה</button>
        </div>
            </br>
            </br>

    </div>
     </form>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
    </div>

    </div>
</div>

