<div class="container" id="chordsDic">
    <div class="row">
        <div class="col-md-12">
            <h2>מילון אקורדים</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
                <img id="chordsPic1" class="pull-right" src="img/basicchordchart.png"/>
        </div>

        <div class="col-md-5 col-lg-5 col-sm-5" >
                <img id="chordsPic2" class="pull-right" src="img/basicchordchart.png"/>
        </div>
    </div>
</div>




