

<div class="container" id="guitarTuning">
    <div id="fontim">
    <div class="col-sm-5 col-md-6 text-right"></div>
  <h1>כיוון גיטרה</h1>
    <h3>לחצו על המיתר הרצוי בכדי לשמוע את הצליל שלו</h3>
    <div class="guitarString row">
        <div class="col-lg-8 col-lg-offset-2 ">
            <audio id="audio_E">
                <source src="audio/E.ogg" type="audio/ogg" />
            </audio>
            <div onClick="document.getElementById('audio_E').play(); return false;" class="guitar">E</div>
            <div class="row1"></div>

            <audio id="audio_B">
                <source src="audio/B.ogg" type="audio/ogg" />
            </audio>
            <div onClick="document.getElementById('audio_B').play(); return false;" class="guitar">B</div>
            <div class="row2"></div>

            <audio id="audio_G">
                <source src="audio/G.ogg" type="audio/ogg" />
            </audio>
            <div onClick="document.getElementById('audio_G').play(); return false;" class="guitar">G</div>
            <div class="row3"></div>

            <audio id="audio_D">
                <source src="audio/D.ogg" type="audio/ogg" />
            </audio>
            <div onClick="document.getElementById('audio_D').play(); return false;" class="guitar">D</div>
            <div class="row4"></div>

            <audio id="audio_A">
                <source src="audio/A.ogg" type="audio/ogg" />
            </audio>
            <div onClick="document.getElementById('audio_A').play(); return false;" class="guitar">A</div>
            <div class="row5"></div>

            <audio id="audio_EF">
                <source src="audio/EF.ogg" type="audio/ogg" />
            </audio>
            <div onClick="document.getElementById('audio_EF').play(); return false;" class="guitar">E</div>
            <div class="row6"></div>
        </div>
        </div>
    </div>

</div>
