<div id="home">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="img/shutterstock.jpg" alt="Image" style=" width: 100%; height: 10%" target="_blank">
                <div class="carousel-caption">


                </div>
            </div>

            <div class="item">
                <img src="img/maxresdefault.jpg" alt="Image" style=" width: 100%">
                <div class="carousel-caption">


                </div>
            </div>
        </div>
    </div>



    <!--end of slide-->

    <div class="container" id="homeContain">

        <div class="col-sm-5 col-md-6 text-right" style="font-size: 19px; font-family: Calibri">
            <h1>ניגון - אקורדים לשירים יהודיים</h1>
            <p>עד היום, כשרצית לנגן בגיטרה שלך שירים יהודיים, שירי שבת, שירים לקומזיץ, שירים כדי לנגן בחג לכל המשפחה, וחיפשת ברשת עזרה, התמלאת תסכול. לאחר חיפוש ארוך בין אתרים מפוקפקים ופורומים שונים ובלוגים משונים, אולי, רק אולי, מצאת את מבוקשך. בעידן הזה שבו אפשר למצוא כל דבר באינטרנט במהירות ובצורה נוחה, אקורדים לשירים יהודיים כמעט ואין בנמצא. ולשירים יהודיים ישנים וטובים, אין בכלל... </p>
            <p>אז אם גם אתה מאלה שחיפשו בית חם למוזיקה יהודית איכותית, הגעת למקום הנכון!</p>
            <p>אתר ניגון הוקם כדי לספק בדיוק את המטרה הזו. ניגון הוא אתר מוזיקה אשר יכיל אלפי אקורדים לשירים יהודיים-חסידיים. האתר הוקם ב2017 כפרויקט בקורס הנדסת תוכנה במטרה לקדם את נושא המוזיקה היהודית ברשת, וללא מטרות רווח. משתמשים יוכלו ליהנות ממאגר האקורדים זמין בכל עמוד באתר, שיחסוך את התסכול בלחפש כל פעם מחדש את השירים האהובים עליכם ברשת! משתמשים שיבצעו הרשמה יוכלו להעלות חומרים משלהם לאתר, וכך בעזרתכם, תוך זמן קצר, על פי החזון שלנו, יתהווה מאגר מרשים של אקורדים לשירים.</p>
            <p>הצטרפו אלינו בדרך למהפכת המוזיקה היהודית ברשת!</p>
            <hr>



            </br>
        </div>


        <div class="col-sm-3  text-right">
            </br>
            </br>
            </br>
            <h4 style="font-family: Calibri">ציטוטי המוזיקה הנבחרים השבוע:</h4>
            <marquee direction="up"  scrolldelay="270" vspace=20px bgcolor="#e6e6e6"  HEIGHT=262 style="padding: 15px; text-align: center; font-family: Calibri">
                <p>לכל בריאה ובריאה ולכל יצור ויצור יש ניגון משלו (רבי נחמן מברסלב)</p>
                </br>
                <p>אומרים שהיכל הנגינה סמוך לעולם התשובה. ואני אומר שהיכל הנגינה הוא עולם התשובה. (המגיד מקוז'ניץ)</p>
                </br>
                <p>אם לא לומדים מוסר יבוא הניגון ויעורר למעט יראת שמים! (הסטייפלר זצ"ל)</p>
                </br>
                <p>"כי רוב טעמי תורה וסודות שירי הלוויים וסודות תיקוני הזוהר אי אפשר בלעדיה (הנגינה) ועל ידה יכולים בני האדם למות בכל נפשם מנעימותיה ויכולים להחיות מתים ביסודות הגנוזים בתורה... (ר' ישראל משקולוב בהקדמה לספר 'פאת השולחן' בשם הגאון מווילנא)</p>
                </br>
                <p>מוזיקה היא ניצחית. מוזיקה גדלה ומתבגרת איתך, עוקבת אחריך בליבך עד המוות. (פול סיימון)</p>
                </br>
                <p>המוזיקה היא התגלות נעלה יותר מאשר כל החוכמה והפילוסופיה.(לודוויג ואן-בטהובן) </p>
                </br>
                <p>ללא מוזיקה החיים היו שגיאה (פרידריך ניטשה)</p>
                </br>
                <p>המוזיקה מביעה את שלא ניתן לומר על מה שאי אפשר להחריש</p>
                </br>
                <p>ללא מוזיקה החיים היו שגיאה (פרידריך ניטשה)</p>

            </marquee>
        </div>
        <div class="col-sm-3 text-right">
            </br>
            </br>
            <div class="list-group" style="font-family: Calibri">
                <a href="#" class="list-group-item">שירים לקומזיץ<img src="img/mafret.png" ></a>
                <a href="#" class="list-group-item">שירי נשמה</a>
                <a href="#" class="list-group-item">שירים לחגים</a>
                <a href="#" class="list-group-item">שירים לחתונה</a>
                <a href="#" class="list-group-item">שירי נוסטלגיה</a>
                <a href="#" class="list-group-item">שירי ילדים</a>
                <a href="#" class="list-group-item">שירים מזרחיים</a>
                <a href="#" class="list-group-item">שירים באנגלית</a>
            </div>
        </div>
        <div class="col-sm-6" style="font-family: Calibri">
            <div class="well">
                <h4>אתרי מוזיקה פופולריים:</h4>
               <a href="http://www.chasidinews.com/"><img src="img/logos/chasidinews.png"></a>
                <a href="http://http://www.chasidisk.com//"><img src="img/logos/chasidisk.jpg"></a>
                <a href="http://www.toker.fm/"><img src="img/logos/toker.png"></a>
                <a href="http://www.shlager.net/"><img src="img/logos/shlager.png"></a>
                <a href="http://www.kikar.co.il/%D7%A9%D7%99%D7%A8%D7%99%D7%9D-%D7%97%D7%A1%D7%99%D7%93%D7%99%D7%99%D7%9D-1"><img src="img/logos/kikar.png"></a>
                <a href="http://www.93fm.co.il/"><img src="img/logos/kolchai.png"></a>
                <a href="http://www.kol-barama.co.il/"><img src="img/logos/kolbarama.png"></a>
            </div>
        </div>


        <hr>




    </div>
</div>
