<div ng-controller="songShowController" class="container-fluid text-right">
    <div class="row" id="songRow">

      <div class="col-md-2 col-sm-4 col-lg-4 col-xs-12">
            <div id="youtubeContainer">

                    <iframe class="col-md-2 col-sm-4 col-lg-12 col-xs-12" width="700" height="300" ng-src="{{youtubeLink}}" frameborder="0" allowfullscreen></iframe>

            </div>
        </div>

       <!-- <div class="col-md-5 col-sm-2 col-lg-3">
            <a ng-href="#/artists/{{song.name}}">
                <div class="img-ph">
                    <img ng-src="../img/{{song.img}}" alt="Image" height="50px" width="50px" >
                </div>
            </a>
        </div>-->

        <div id="textim" class="col-md-6 col-sm-2 col-lg-6">

            <div id="songHeader">
                <div id="songName"><h2>{{song.name}}</h2></div>

                <div id="artistName"><h3><a ng-href="#/artists/{{song.artistsName}}">{{song.artistsName}}</a></h3></div>
                <hr>

            </div><!--end of header-->
            </br>

            <div id="chords" class="row">
                <div class="col-md-9 col-sm-2 col-lg-11">
                    <p ng-repeat="line in song.lines track by $index">{{line.chords}}</br>{{line.words}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
