
<div class="container" id="title" >

    <div style="font-family: Calibri" class="pull-right"><h2>אקורדים לשירים באות {{letter}}' </h2></div>
    </br></br> </br></br>
    <h2><div id="null" style="color: red"></div></h2>
</div>
<div ng-controller="sortShowController" class="container-fluid text-right">
    <div id="songsList" ng-repeat="song in songs " class="col-lg-7 col-xs-9 pull-right">
        <a ng-href="#/artists/{{song.artistsName}}/{{song.name}}" class="list-group-item">{{song.name}}</a>
    </div>
</div>
