<div class="container" id="addsong" ng-controller="updateSongController">
    <div id="fontim">
        <div id="titleAddSong" class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-right">
                <div class="pull-right"><h2>עדכון פרטי השיר "{{name}}":</h2></div>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-5 col-lg-7 col-sm-10 col-xs-6 pull-right">
                <form class="">
                    <div class="form-group">
                        <label for="songName">שם השיר:</label>
                        <input class="form-control" type="text" id="songName" ng-model="add.name" name="name" ng-value="songToUpdate[0].name"  required>
                    </div>
                    <div class="form-group">
                        <label for="artistName">שם האומן:</label>
                        <select class="form-control" id="artistName" ng-model="add.artistName" name="artistName" required >
                            <option selected="selected">{{songToUpdate[0].artistsName }}</option>

                            <option ng-repeat="artist in artists |orderBy:'name' ">{{artist.name}}</option>

                        </select>
                        <!--<input class="form-control" type="text" id="artistName">-->
                    </div>
                    <div class="form-group">
                        <label for="artistName">סוג השיר:</label>
                        <select class="form-control" id="type"  name="type" ng-model="add.type" required >
                            <option>בחר</option>
                            <option>שירי קומזיץ</option>
                            <option>שירי נשמה</option>
                            <option>שירים לחתונה</option>
                            <option>שירי נוסטלגיה</option>
                            <option>שירי ילדים</option>
                            <option>שירים מזרחיים</option>
                            <option>שירים באנגלית</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="link">לינק להאזנה:</label>
                        <input class="form-control" type="text" id="link" ng-model="add.link" name="link" ng-value="songToUpdate[0].link" required>
                    </div>

                    <div >
                        <div class="form-group">
                            <label for="songWords">הכנס מילים:</label>
                            <textarea class="form-control" id="songWords" rows="12" value="tali" ng-model="lyrics" name="text" ng-change="lyricsToLines()"  required>{{songToUpdate[0].lines}}</textarea>
                        </div>
                    </div>

                    <label>הכנס אקורדים מעל כל שורת מילים:</label>

                    <div ng-repeat="line in lines">
                        <input type="text" ng-model="line.chords" />
                        </br>
                        <label >{{line.words}}</label>
                        </br>
                    </div>
                    </br></br></br>

                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <button type="submit" class="btn btn-danger form-control" ng-click="updateSong(add)">עדכן שיר </button>
                    </div>


                </form>

                </br></br>




            </div>
        </div>

    </div>
</div>

