<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="css/homeStyle.css" rel="stylesheet" media="screen">
    <link href="css/contactStyle.css" rel="stylesheet" media="screen">
    <link href="css/GuitarTuningStyle.css" rel="stylesheet" media="screen">
    <link href="css/dictionaryStyle.css" rel="stylesheet" media="screen">
    <link href="css/songStyle.css" rel="stylesheet" media="screen">
    <link href="css/artistShowStyle.css" rel="stylesheet" media="screen">
    <link href="css/artistsStyle.css" rel="stylesheet" media="screen">
    <link href="css/addsongStyle.css" rel="stylesheet" media="screen">
    <link href="css/registerStyle.css" rel="stylesheet" media="screen">
    <link href="css/loginStyle.css" rel="stylesheet" media="screen">
    <link href="css/songShowStyle.css" rel="stylesheet" media="screen">
    <link href="css/adminStyle.css" rel="stylesheet" media="screen">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="src/angular.js"></script>
    <script src="src/angular-route.js"></script>
    <script src="src/angular-mocks.js"></script>
    <script src="src/jquery-2.2.3.min.js"></script>
    <script src="src/jquery-2.2.3.js"></script>
    <script src="src/bootstrap.min.js"></script>
    <script src="src/jquery.js"></script>

    <script src="controllers/homeController.js"></script>
    <!--<script src="controllers/indexController.js"></script>-->
    <script src="controllers/artistsController.js"></script>
    <script src="controllers/artistShowController.js"></script>
    <script src="controllers/songShowController.js"></script>
    <script src="controllers/addsongController.js"></script>
    <script src="controllers/adminController.js"></script>
    <script src="controllers/typeShowController.js"></script>
    <script src="controllers/sortShowController.js"></script>

    <script src="app.js"></script>

    <title>ניגון</title>
     <link rel="shortcut icon" href="img/favicon.ico" />
</head>

<body ng-app="myApp">

<!--div class="jumbotron text-center">
</div-->

<div id = "top"><!--class="navbar navbar-inverse "-->
    <div class = "container-fluid">
        <div class="row">
             <div id = "login" class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
                <div class="navbar-collapse collapse list-inline" style="text-align:left">
                    <ul class="nav navbar-nav navbar-left  list-inline">
                       <li><a class="btn-sm fontim" ng-href="#/login" id="loginLink">התחברות</a></li>
                        <li id="kav">|</li>
                        <li><a class="btn-sm fontim" ng-href="#/register" id="registerLink">הרשמה</a></li>
                    </ul>
                </div>
            </div>
            
        <div id="HeaderLettersContainer" ng-controller="artistsController" class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-sm-12 hidden-xs ">
                <div ng-controller="artistsController" id = "search" class="input-group" ><!--id="searchDiv"-->
                    <input autocomplete="off" id="searchInput" ng-model="searchInputModel" type="text" class="form-control" placeholder="הקלד שם אמן או שיר לחיפוש"  />
                    <span class="input-group-btn  hidden-xs">
                        <!--<a id="hrefSearch"  >ng-href=""#/showSearch-->
                        <button id="searchBtn" ng-click="onClickSearch()" class="btn btn-default" type="submit">חפש</button>
                        <!--</a>-->
                    </span>
                </div>
                <br/><br/>
                <b> <a calss = "char" href="#/char/א">א</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ב">ב</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ג">ג</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ד">ד</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ה">ה</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ו">ו</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ז">ז</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ח">ח</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ט">ט</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/י">י</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/כ">כ</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ל">ל</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/מ">מ</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/נ">נ</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ס">ס</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ע">ע</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/פ">פ</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/צ">צ</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ק">ק</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ר">ר</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ש">ש</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a calss = "char" href="#/char/ת">ת</a></b>
            </div>
            
            <div id = "headLogo" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <a href="#"><img id="logo" src="img/logo.png"/></a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse top-nav ">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right nav-tabs nav-pills" role="tablist" >
            <li ><a ng-href="#/contact">צור קשר ></a></li>
            <li><a href="#/addsong">הוספת שיר ></a></li>
            <li><a ng-href="#/GuitarTuning">כיוון גיטרה ></a></li>
            <li><a href="#/dictionary">מילון אקורדים ></a></li>
            <li><a ng-href="#/artists">אקורדים לשירים ></a></li>
            <li><a ng-href="#/admin">דף מנהל ></a></li>
            <li class="active1"><a ng-href="#">דף הבית ></a></li>
        </ul>
    </div>
</nav>
            <div class="row">
                <div ng-view></div>
            </div>


<br/>

<footer class="container-fluid text-center">
    <div class="col-lg-4">כל הזכויות שמורות לניגון בע"מ &copy; </div>
    <div class="col-lg-4"><a href="privacy.html">מדיניות פרטיות</a></div>
    <div class="col-lg-4"><a href="terms.html">תנאים כלליים</a></div>
</footer>
</body>
</html>
