
<div  style="height: 250px; width: 100%; background-color:black; ">
    <div class="container" id="title">
        <div class="lyrics-title marginb20">
             <div class="pull-right"><h1>אומנים</h1></div>
        </div>
    </div>
</div>

<div class="container" id="chords">

    <div class="col-sm-5 col-md-6 text-right" style="font-size: 19px">


<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
<p>jjjjjjjjjjjjj</p>
    </div>
</div>


