

<div class="container" id="guitarTuning">
    <div class="col-sm-5 col-md-6 text-right"></div>
    <h3>לחצו על המיתר הרצוי בכדי לשמוע את הצליל שלו</h3>
    <div class="guitarString row">
        <div class="col-lg-8 col-lg-offset-2 ">
            <div class="guitar">E</div>
            <div class="row1"></div>

            <div class="guitar">B</div>
            <div class="row2"></div>

            <div class="guitar">G</div>
            <div class="row3"></div>

            <div class="guitar">D</div>
            <div class="row4"></div>

            <div class="guitar">A</div>
            <div class="row5"></div>

            <div class="guitar">E</div>
            <div class="row6"></div>
        </div>

    </div>

</div>
