#artistsPage{
    background-color: white;
}
#title{
    padding-right: 65px;
    padding-bottom: 5px;
    border-bottom: 2px solid #800000;

}
h1{
    font-size: 46px;
}
.thumbnail{
    background-color: black;
    border-color: black;

}
#artists{
    margin-left: 9%;
}
#myCarousel{
    padding-top: 3%;
}