body{
    background-color:white;
   direction: rtl;
}
#top{
    background-color: #800000;
    margin-bottom: inherit;
}
#HeaderLettersContainer{
    /*  background-color: chartreuse;*/
    text-align:center;
    /*padding: 20px;*/
    padding-right: 40px;
}
#headLogo{
    /* background-color: coral;*/
}
#logo{
    /*max-height: 30%;*/
    cursor: pointer;
    width:200px;
    padding-right:45px ;

}
#search{
    margin-top: 50px;
    padding-right: 35px;
}
.char{

    color: darkgray;
    font-size: x-large;
}
#charBox{
    margin-top: -20px;
    padding-bottom: 9px;
}
.icon-bar{
    /*background-color: red;*/
}
#login{
    /*background-color: #e6e6e6;*/
}

.logo{
    max-height: 10%;
}
.jumbotron{
    height: 7px;
    background-color: #800000;
}
#myCarousel{
    /*z-index: -1;*/
}
.navbar{
    background-color:  #555;
    margin-bottom: 0px;
    border-radius: 0px;

}
.nav-tabs{
    border-bottom: 2px solid #800000;
    margin-bottom: auto;
}
.top-nav ul li a {
   display: block;
    padding: 23.6px;
    font: bold 14px/16px "Arial";
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
   transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
a {
    text-decoration: none;
}
.top-nav li.active1> a, .top-nav li> a:hover {
    background: #800000;
    border-color: #800000;
}


#homeContain{
    /*background-image: url("coolgitar.png");*/
    background-repeat: no-repeat;
    background-color: white;
    background-size:100%;

}
.list-group-item> list-group-item:hover {
    opacity:0.8;
    border: none;
    background: #e6e6e6;
    margin: 1px 0;
    border-bottom: 1px dotted #c2c2c2;
}
 a.list-group-item:hover {
  font-style: italic;
     color: #4d0000;
}
#loginLink{
    margin-top:50px;
    padding:5px 10px;
    color:white;
    background-color: #800000;
}
#registerLink{
    margin-top:50px;
    padding:5px 10px;
    color:white;
    background-color: #800000;
}
#kav{
    margin-top:50px;
    padding:5px 10px;
    color:white;
}


#searchBtn{
    border-radius: 0px;
}
#searchInput{
    border-radius: 0px;
}

.marquee{
    text-align: center;
    background-color: #555;
}
footer {
    background-color: #555;
    color: white;
    padding: 10px ;
 /*   position: absolute;*/
    bottom: 0;
    width: 100%;
}
.imgPoret{
    height:28px;
    position: absolute;
    left:20px;
}
#fontim{
    font-family: "Calibri";
}
a.char{
    font-size: 19px;
    color: white;
    text-decoration: none;
}
a.char:hover{
    color:white;
    text-decoration: none;
    font-style: italic;

}
