#songRow {
    padding-top: 30px;
    text-indent: 40px;
}
#songName{
    font-family: Calibri;
    font-size: 15px;
}
#artistName{
    font-family: Calibri;
    font-size: 15px;
}
#chords{
    font-family: Calibri;
    font-size: 21px;
    margin-right: 30px;

}
.fluid-width-video-wrapper{
    padding-top: 15.272%;
    margin-left: 200px;

}
#youtubeContainer{
    border-color: #4d0000;
    border-style: none;
    height: 300px;
    width: 400px;
}
#songImg{
    height: 15px;
    width: 15px;
}
#textim{
    float: right;
    margin-right: 20px;
}
