#songRow {
    padding: 50px;
    text-indent: 50px;
}
#songName{
    font-family: Arial;
    font-size: 50px;
}
#artistName{
    font-family: Arial;
<<<<<<< HEAD
    font-size: 30px;
}
#chords{

    font-family: Arial;
    font-size: 22px;
}
=======
    font-size: 15px;
}
>>>>>>> b3f0e73920d8df48240dae0c8b2a7669d98d825f
