#songRow {
    padding: 30px;
    text-indent: 40px;
}
#songName{
    font-family: Calibri;
    font-size: 15px;
}
#artistName{
    font-family: Arial;
    font-size: 15px;
}
#chords{

    font-family: Arial;
    font-size: 22px;
}
.fluid-width-video-wrapper{
    padding-top: 15.272%;
    margin-left: 100px;
}

